@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family:'Alien Encounters';
  src: url(../asset/fonts/Alien/Alien-Encounters-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --hijauMuda: #03ac0e;
  --hijauPolos: #2ca367;
  --putihF4: #f4f4f4;
  --span: #929292;
  --bt: 2px solid #d1d1d1;
}


nav {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
  left: 0;
  right: 0;
  z-index: 9999;
}

.my-button {
  top: 52%;
  left: 9%;
  font-weight: 300;
  font-size: 10px;
  text-decoration: none;
  background-color: var(--bs-indigo);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease;
}

.my-button:hover {
  background-color: #028c0a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

/* ------------------------------------------^^^^^^^^^^
Navbar Start 
----------------------------------------- >>>>>>>>>> */
nav .btn img {
  width: 20px;
}

nav .navbar-brand {
  font-family: "Alien Encounters";
  font-weight: 400;
  font-size: 36px;
  color: var(--hijauPolos);
  text-decoration: none;
}
nav form {
  height: 43px;
  align-items: center;
}
nav .btn {
  border: none;
  transform: translateX(10px);
}
nav .btn .search-img {
  background: none;
}

nav .form-control {
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  z-index: 1;
  padding-left: 7%;
}
nav .form-control::placeholder {
  color: #cdcdcd;
  font-size: 14px;
}
nav .form-control:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--hijauMuda);
  background: transparent;
}

nav .icon button:hover {
  background: var(--hijauMuda);
  border-radius: 4px;
}
nav .icon button {
  border: none;
  background: none;
  transition: 0.3s;
}
nav .icon button img {
  width: 18px;
}
nav .account .profil img {
  width: 28px;
  height: 25px;
  border: 2px solid var(--span);
  border-radius: 50%;
  box-sizing: border-box;
}

nav .account button {
  display: flex;
  align-items: center;
  color: #929292;
  background: none;
  border: none;
}

nav .account .btn-daftar {
  font-weight: bold;
}
nav .account .btn-daftar:hover {
  background: var(--hijauMuda);
  border-radius: 4px;
  color: white;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--span);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 5px;
}

.hero {
  width: 100%;
  position: relative;
  padding: 40px 0;
  padding-top: 5rem;
}

.telusuri {
  position: relative;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.telusuri .search {
  padding: 8px 20px;
  display: inline;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.account {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  gap: 20px;
}

.account p {
  margin-top: 8px;
  margin-bottom: 0rem;
}

/* Hero */

.hero-content h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.hero-content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.hero-content span {
  color: #8A8A8A;
}

.hero-content ul {
  padding-left: 0 !important;
}

.hero-content ul li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  list-style: none;
}

.card-item .btn-input {
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
}

.card-item .btn-input button {
  font-size: 20px;
  padding: 0 30px;
  background: none;
  border: none;
}

.card-item {
  padding: 0 25px;
  top: 3rem;
  border-radius: 19px;
  border: 1px solid #A6A6A6;
  box-sizing: border-box;
}

.harga-total {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

/* Akun Sosmed */
.profile-navbar {
  padding: 40px 0px;
  border: 8px solid #d9d9d9;
}

.profile-navbar .profile-user h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.profile-navbar .profile-user h2 span {
  font-size: 40px;
}
.profile-navbar .profile-user h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--hijauPolos);
  list-style-type: georgian;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-navbar .profile-user button {
  width: 123px;
  height: 31px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #737373;
  border-radius: 6px;
  border: 1px solid #C8C8C8;
}

.profile-navbar .profile-follow {
    border-left: 2px solid #737373;
    text-align: center;
}
.profile-navbar .profile-follow p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #737373;
}
.profile-navbar .profile-follow span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

/* Ulasan */

.ulasan .component {
  border: 1px solid #626262;
  border-radius: 17px;
}

.component p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.ulasan-user i {
  font-size: 40px;
}
.ulasan-user p {
  font-size: 84px;
  margin: 0;
}

.ulasan-user p span {
  font-size: 30px;
  color: #eaeaea;
}

.jumlah-user p {
  font-family: 'Poppins';
  font-size: 16px;
  color: #000000;
}

.rating span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #464646;
}

.komen p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.ulasan .filter {
  border: 1px solid #626262;
  border-radius: 17px;
}

.card-filter {
  border: 1px solid #626262;
  border-radius: 17px;
}

.rating-ceklis input {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #959595;
  border-radius: 3px;
}

.rating-ceklis i {
  font-size: 20px;
}

.rating-ceklis p {
  font-size: 24px;
  color: #000000;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: var(--color-primary);
  color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  position: relative;
  padding-bottom: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(0, 131, 116, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.footer .footer-links ul a:hover {
  color: var(--bs-indigo);
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}
