.card-pesanan {
  border: 1px solid var(--NN300,#BFC9D9);
  border-radius: 8px;
  padding: 0px 12px;
  position: absolute;
  left: 75rem;
  top: 10rem;
}

.judul-atur {
  margin: 12px 0px 20px;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: var(--NN950,#212121);
  text-align: left;
}

.css-1waacjy {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-1aq53kl-unf-quantity-editor {
  -webkit-box-align: center;
  align-items: center;
  border: solid 1px var(--NN300,#BFC9D9);
  border-radius: 8px;
  display: inline-flex;
  padding: 3px;
  transition: border 120ms cubic-bezier(0.2, 0.64, 0.21, 1) 0s;
  min-width: 70px;
  width: 102px;
}

.css-6cobzs {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-shrink: 0;
  height: 24px;
  padding: 0px;
  width: 24px;
  appearance: none;
}

.css-3a6js2-unf-quantity-editor__input {
  background-color: transparent;
  border: none;
  color: var(--NN950,#212121);
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  outline: none;
  text-align: center;
  flex-shrink: 2;
  -webkit-box-flex: 2;
  flex-grow: 2;
  width: 100%;
}

.css-1ngblhr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border: 0px;
}

.css-1waacjy p {
  font-size: 1rem;
  line-height: 20px;
  margin: 0px 0px 0px 8px;
  color: var(--NN950,#212121);
}

.css-1yy88m3-unf-heading {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 12px 0px;
}

.css-1o8mlq9 {
  margin-top: 16px !important;
}

.css-1o8mlq9 button {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  background: none;
  padding: 0px;
  border: none;
  color: var(--GN500,#00AA5B);
  cursor: pointer;
}

.css-1jbawm2 {
  margin: 16px 0px;
}

.css-69i1ev {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.css-vni7t6-unf-heading {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--NN600,#6D7588);
  text-decoration: initial;
  margin: 0px;
}

.css-mbgq8e-unf-heading {
  display: block;
  position: relative;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  letter-spacing: 0px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.css-qiunk2 {
  position: relative;
  margin: 12px 0px 16px;
}

.css-7k78ah-unf-btn {
  background-color: var(--GN500,#00AA5B);
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  height: 40px;
  line-height: 20px;
  outline: none;
  position: relative;
  padding: 0px 16px;
  text-indent: initial;
  transition: background-color 300ms ease 0s;
  width: 100%;
  margin: 8px 0px;
}

.css-7k78ah-unf-btn span {
  display: block;
  font-size: inherit;
  opacity: 1;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: 0px;
  transition: opacity 300ms linear 0s, top 300ms linear 0s;
  white-space: nowrap;
}

.css-7k78ah-unf-btn::after {
  background-color: rgb(82, 88, 103);
  border-radius: inherit;
  inset: 0px;
  content: "";
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 300ms ease 0s;
}

.css-7k78ah-unf-btn:hover {
  background-color: var(--NN0,#FFFFFF);
  color: var(--GN500,#00AA5B);
  transition: background-color 300ms ease 0s;
}

.css-16l1sjw-unf-btn {
  background-color: var(--NN0,#FFFFFF);
  border: 1px solid var(--GN500,#00AA5B);
  border-radius: 8px;
  color: var(--GN500,#00AA5B);
  cursor: pointer;
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 1rem;
  height: 40px;
  line-height: 20px;
  outline: none;
  position: relative;
  padding: 0px 16px;
  text-indent: initial;
  transition: background-color 300ms ease 0s;
  width: 100%;
  margin: 8px 0px;
}

.css-16l1sjw-unf-btn span {
  display: block;
  font-size: inherit;
  opacity: 1;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: 0px;
  transition: opacity 300ms linear 0s, top 300ms linear 0s;
  white-space: nowrap;
}

.css-16l1sjw-unf-btn::after {
  background-color: rgb(82, 88, 103);
  border-radius: inherit;
  inset: 0px;
  content: "";
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 300ms ease 0s;
}

.css-16l1sjw-unf-btn:hover {
  background-color: var(--GN500,#00AA5B);
  color: var(--NN0,#FFFFFF);
}

.ulasan-fotovideo {
  margin: 0px 0px 32px;
}

.css-134nv4k {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 8px;
}

.css-p9i78y-unf-heading {
  display: block;
  position: relative;
  top: 3rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 0px;
  left: 2rem;
}

.css-k008qs {
  display: flex;
  position: relative;
  top: 6rem;
  left: 2rem;
}

.css-1jg3dar {
  cursor: pointer;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  width: 88px;
  height: 88px;
  border: none;
  padding: 0px;
}

.css-1jg3dar:not(:last-child) {
  margin-right: 12px;
}

.css-bqlp8e {
  position: relative;
  display: inline-block;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: initial;
  height: initial;
  background: none;
  overflow: hidden;
  box-sizing: border-box;
}

.css-1w3vjqw {
  display: block;
  width: initial;
  height: initial;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: none;
  box-sizing: border-box;
  overflow: hidden;
}

.css-1w3vjqw.intrinsic {
  max-width: 100%;
}

.css-io8lqb {
  display: block;
  background: none;
  width: initial;
  height: initial;
  max-width: 100%;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.css-1c345mg {
  position: absolute;
  inset: 0px;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: block;
  padding: 0px;
  margin: auto;
  border: none;
  box-sizing: border-box;
}

.css-a21zsk {
  margin: 0px 88px 26px;
  display: flex;
  top: 8rem;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.css-1eejott-unf-heading {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Poppins";
  font-style: normal;
  line-height: 40px;
  letter-spacing: -0.4px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 0px 0px 4px;
  font-size: 24px;
}

.css-e84n4s-unf-heading {
  display: block;
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 0px;
}

.css-1w6pe1p {
  display: flex;
   -webkit-box-align: center;
  align-items: center;
  min-width: 0px;
}

.css-1w6pe1p > .rating {
  display: flex;
  position: relative;
  left: 86px;
  top: 8rem;
  margin-bottom: 2px;
}

.css-1dfgmtm-unf-heading {
  display: block;
  position: relative;
  left: 7rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--NN600,#6D7588);
  text-decoration: initial;
  margin: 0px 0px 0px 4px;
  top: 8rem;
}

.css-u2c4jt {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  margin: 175px 88px 4px;
  font-size: 1rem;
  color: var(--NN950,#212121);
  font-weight: bold;
}

.css-1ck6jvp {
  position: relative;
  display: inline-block;
  opacity: 1;
  border: 0px;
  padding: 0px;
  height: initial;
  background: none;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0px 8px 0px 0px;
  width: auto;
}

.css-1w3vjqw.intrinsic {
  max-width: 100%;
}

.css-1w3vjqw {
  display: block;
  width: initial;
  height: initial;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: none;
  box-sizing: border-box;
  overflow: hidden;
}

.css-2m2ebk {
  position: absolute;
  inset: 0px;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  display: block;
  padding: 0px;
  margin: auto;
  border: none;
  box-sizing: border-box;
  object-fit: cover;
  border-radius: 50%;
}

.css-u2c4jt .name {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.css-ed1s1j-unf-heading {
  width: 444px;
  height: 46px;
  display: block;
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  text-decoration: initial;
  margin: 0px 88px;
  color: #000000;
  top: 1rem;
  overflow-wrap: break-word;
}

.css-9zu5v7-unf-heading {
  display: block;
  position: relative;
  top: -43rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0px;
  color: var(--NN950,#212121);
  text-decoration: initial;
}

.css-gcov66 {
  width: 228px;
  margin-right: 52px;
}

.css-124sv7s {
  margin: 0px -50px 42px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 69rem;
  top: -43rem;
  -webkit-box-align: center;
  align-items: center;
}

.css-1xc3m2i {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-1xc3m2i .score-info {
  line-height: unset !important;
}

.css-10ifu2i-unf-heading {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--NN600,#6D7588);
  text-decoration: initial;
  margin: 0px;
}

.css-1xc3m2i .score {
  font-size: 60px;
  color: var(--NN950,#212121);
}

.css-1xc3m2i .max-score {
  font-size: 16px;
  color: var(--NN600,#6D7588);
}

.css-1ngblhr {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border: 0px;
}

.css-g3cl0z-unf-heading {
  display: block;
  position: relative;
  font-weight: 700;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 0.857143rem;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--NN300, rgba(33,33,33.96));
  text-decoration: initial;
  margin: 14px 0px 4px;
}

.css-ypd15i-unf-tooltip {
  display: inline-block;
  position: relative;
}

.css-ypd15i-unf-tooltip * {
  cursor: pointer;
}

.css-zkmnyu {
  width: 200px;
  font-size: 0.714286rem;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  left: 50%;
  padding: 12px 16px;
  border-radius: 4px;
  line-height: 16px;
  box-shadow: 0 1px 6px 0 var(--color-shadow,rgba(49,53,59,0.12));
  transition: opacity 300ms ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
  background-color: var(--color-text-high,rgba(49,53,59,0.96));
  text-align: center;
  color: var(--N0,#FFFFFF);
  top: 100%;
  transform: translate(-50%, calc(0% + 12px));
}

.css-1h6fhgg {
  border-radius: 8px;
  border: 1px solid #1E1E1E;
  position: relative;
  left: 69rem;
}

.css-8ax7ff {
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--color-text-high,rgba(49,53,59,0.96));
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.css-1bhobcm-unf-heading {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 0.857143rem;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--color-text-low,rgba(49,53,59,0.68));
  text-decoration: initial;
  margin: 0px 0px 14px;
}

.css-1i5ul9s-unf-accordion {
  position: relative;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--N75,#E5E7E9);
  border-radius: 10px;
  cursor: pointer;
}

.css-1uxx7c7-unf-heading {
  display: block;
  position: relative;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.1px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 0px;
}

.css-1i5ul9s-unf-accordion [data-unf="unf-accordion__header"] {
  font-size: 14px;
  padding: 14px;
}

.css-ll85b2-unf-accordion__header {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  font-family: inherit;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 8px 9px 12px;
  border: none;
  color: inherit;
  background-color: var(--color-page-background,#FFFFFF);
  cursor: pointer;
  appearance: none;
}

.css-ll85b2-unf-accordion__header .unf-accordion__drop-icon {
  border-radius: 12px;
}

.css-1i5ul9s-unf-accordion [data-unf="unf-accordion__content"] {
  width: 100%;
}

.css-1xdqrvt {
  height: 0px;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition-property: height, opacity, visibility;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.2, 0.64, 0.21, 1);
}

.css-1i5ul9s-unf-accordion .checkbox {
  margin: 0px 14px 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-1bh52ki {
  width: 24px;
  height: 24px;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.css-8wwjx7-unf-checkbox {
  cursor: pointer;
  display: inline-block;
}

.css-1ax9ypr-unf-checkbox__input {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  appearance: none;
  margin: 0px;
  padding: 0px;
}

.css-1i85qm8-unf-checkbox__area {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--NN900,#2E3137);
  border-radius: 4px;
  vertical-align: middle;
  position: relative;
  transition: transform 200ms cubic-bezier(0.2, 0.64, 0.21, 1) 0s;
  transform-box: fill-box;
}

.css-e8bjan {
  display: flex;
  position: absolute;
  top: -4px;
  left: -4px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  transition: transform 200ms cubic-bezier(0.2, 0.64, 0.21, 1) 0s;
}

.css-1i5ul9s-unf-accordion .rating-star {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-ddj16y-unf-heading {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 0.857143rem;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 0px 0px 0px 8px;
}

.css-1i5ul9s-unf-accordion .checkbox {
  margin: 0px 14px 16px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.css-1qltnd6-unf-heading {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: "Open Sauce One", "Nunito Sans", -apple-system, sans-serif;
  font-size: 0.857143rem;
  line-height: 18px;
  letter-spacing: 0px;
  color: var(--NN400,#AAB4C8);
  text-decoration: initial;
  margin: 0px 0px 0px 8px;
}