@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family:'Alien Encounters';
  src: url(../asset/fonts/Alien/Alien-Encounters-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --hijauMuda: #03ac0e;
  --hijauPolos: #2ca367;
  --putihF4: #f4f4f4;
  --span: #929292;
}

.btn-hero {
  top: 52%;
  left: 9%;
  font-weight: 300;
  font-size: 10px;
  text-decoration: none;
  background-color: var(--bs-indigo);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;
}

.btn-hero:hover {
  background-color: #028c0a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
} 


.garis-shadow {
  position: absolute;
  left: 0;right: 0;bottom: 0;
  height: 1px;
  background: #D9D9D9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}

/* ------------------------------------------^^^^^^^^^^
        Navbar Start 
        ----------------------------------------- >>>>>>>>>> */
        nav {
          box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
          left: 0;
          right: 0;
          z-index: 9999;
        }
        nav .btn img {
          width: 20px;
        }
        nav .navbar-brand:hover {
          cursor: pointer;
          color: #03ac0e;
        }
        nav .navbar-brand {
          font-family: "Alien Encounters";
          font-weight: 400;
          font-size: 36px;
          color: var(--hijauPolos);
          text-decoration: none;
          transition: all 0.5;
        }
        nav form {
          height: 43px;
          align-items: center;
        }
        nav .btn {
          border: none;
          transform: translateX(10px);
        }
        nav .btn .search-img {
          background: none;
        }
        
        nav .form-control {
          background: transparent;
          width: 100%;
          height: 100%;
          overflow: hidden;
          border: 1px solid #cdcdcd;
          z-index: 1;
          padding-left: 7%;
        }
        nav .form-control::placeholder {
          color: #cdcdcd;
          font-size: 14px;
        }
        nav .form-control:focus {
          box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
          border: 2px solid var(--hijauMuda);
          outline: none;
          box-shadow: 0 0 0 2px #028c0a;
          background: transparent;
        }
        
        nav .icon button:hover {
          background: var(--hijauMuda);
          border-radius: 4px;
          cursor: pointer;
        }
        nav .icon button {
          border: none;
          background: none;
          transition: 0.3s;
        }
        nav .icon button img {
          width: 18px;
        }
        nav .account .profil img {
          width: 28px;
          height: 25px;
          border: 2px solid var(--span);
          border-radius: 50%;
          box-sizing: border-box;
        }
        
        nav .account button {
          display: flex;
          align-items: center;
          color: #929292;
          background: none;
          border: none;
        }
        
        nav .account .btn-daftar {
          font-weight: bold;
        }
        nav .account .btn-daftar:hover {
          background: var(--hijauMuda);
          border-radius: 4px;
          color: white;
        }
        
        .burger {
          position: relative;
          width: 30px;
          height: 20px;
          background: transparent;
          cursor: pointer;
          display: block;
        }
        
        .burger input {
          display: none;
        }
        
        .burger span {
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background: var(--span);
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: 0.25s ease-in-out;
        }
        
        .burger span:nth-of-type(1) {
          top: 0px;
          transform-origin: left center;
        }
        
        .burger span:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);
          transform-origin: left center;
        }
        
        .burger span:nth-of-type(3) {
          top: 100%;
          transform-origin: left center;
          transform: translateY(-100%);
        }
        
        .burger input:checked ~ span:nth-of-type(1) {
          transform: rotate(45deg);
          top: 0px;
          left: 5px;
        }
        
        .burger input:checked ~ span:nth-of-type(2) {
          width: 0%;
          opacity: 0;
        }
        
        .burger input:checked ~ span:nth-of-type(3) {
          transform: rotate(-45deg);
          top: 22px;
          left: 5px;
        }
        
        .trolly-menu {
          width: 400px;
          display: flex;
          position: absolute;
          right: 74px;
          top: 0px;
          background: #fff;
          box-shadow: 0 -1px 9px 0 rgba(0, 0, 0, 0.1);
          padding: 10px 10px;
          border-radius: 12px;
          z-index: 999999;
          transition-delay: 0.2s;
          transform: translateY(80px);
          /* transition: all 5s ease-out; */
        }
        
        /* .active {
                  visibility: visible;
                  opacity: 1;
                  
                } */
        
        .trolly-menu h4 {
          font-size: 18px;
          font-weight: bold;
        }
        
        .trolly-menu p {
          font-size: 14px;
          color: #31353bad;
        }
        
        .trolly-menu .image {
          border-radius: 12px 12px 0 0;
          background: #01cee9;
          margin: 5px;
        }
        .trolly-menu .image img {
          width: 50%;
        }
        
        .btn-trolly {
          background-color: var(--bs-indigo);
          color: white;
          border: none;
          border-radius: 5px;
          padding: 10px 20px;
          font-size: 14px;
          font-weight: bold;
        
          transition: all 0.5s ease-out;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        }
        
        .btn-trolly:hover {
          background-color: #028c0a;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
          transform: scale(1.1);
        }
        .notif-menu {
          overflow-y: auto;
          width: 400px;
          padding: 0;
          height: 80vh;
          display: block;
          position: absolute;
          right: 74px;
          top: 0px;
          background: #fff;
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          border-radius: 12px;
          z-index: 999999;
          /* opacity: 0; */
          transform: translateY(80px);
          transition: all 5s ease-out;
        }
        
        .notif-menu h4 {
          font-size: 18px;
          font-weight: bold;
        }
        
        .notif-menu p {
          font-size: 14px;
          color: #31353bad;
        }
        
        .notif-menu .image {
          border-radius: 12px 12px 0 0;
          background: #01cee9;
          margin: 5px;
        }
        .notif-menu .image img {
          width: 50%;
        }
        .notif-menu .header {
          width: 100%;
          height: 43px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
          padding: 30px 20px;
        }
        .notif-menu .header h1 {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 20px;
          color: #000000;
          margin: 0;
        }
        .notif-menu .header i {
          color: var(--span);
          font-size: 20px;
        }
        
        .notif-menu .about {
          width: 100%;
        }
        
        .notif-menu .about span {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          line-height: 7px;
          color: #6d6d6d;
        }
        .notif-menu .about h1 {
          padding: 10px 0;
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 12px;
          color: #000000;
        }
        .notif-menu .about p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          color: #6d6d6d;
        }
        .notif-menu a:hover {
          scale: 1.1;
          color: #03ac0e;
        }
        .notif-menu a {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          line-height: 18px;
          transition: all 0.3s ease-in-out;
          text-decoration: none;
          color: #2ca367;
        }
        
        /* scrollbar */
        .notif-menu::-webkit-scrollbar {
          width: 8px;
          height: 8px;
          background-color: #eee;
        }
        
        /* thumb */
        .notif-menu::-webkit-scrollbar-thumb {
          background-color: #888;
          border-radius: 10px;
          border: 3px solid #eee;
        }
        
        /* thumb on hover */
        .notif-menu::-webkit-scrollbar-thumb:hover {
          background-color: #555;
          border: 3px solid #eee;
        }
        
        /* track */
        .notif-menu::-webkit-scrollbar-track {
          background-color: #eee;
        }
        
        /* track on hover */
        .notif-menu::-webkit-scrollbar-track:hover {
          background-color: #ddd;
        }
        
        /* message notif start  */
        .message-menu {
          width: 250px;
        
          height: 260px;
          display: flex;
          position: absolute;
          right: 74px;
          top: 0px;
          background: #fff;
          box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
          padding: 10px 10px;
          border-radius: 12px;
          z-index: 999999;
          transform: translateY(80px);
          transition: all 5s ease-out;
        }
        
        .message-menu a:hover {
          color: var(--hijauMuda);
        }
        .message-menu a {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 15px;
          text-decoration: none;
          padding: 10px;
          color: #000000;
        }
        
        .overlay {
          position: fixed;
          width: 100%;
          height: 100vh;
          display: block;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.5);
          z-index: 999;
          cursor: pointer;
          transition: all 0.3s;
        }
/* Hero */

.hero-content h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.hero-content p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.hero-content span {
  color: #8A8A8A;
}

.hero-content ul {
  padding-left: 0 !important;
}

.hero-content ul li {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  list-style: none;
}

.card-item .btn-input {
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 38px;
  box-sizing: border-box;
  border: 1px solid #a6a6a6;
  border-radius: 7px;
}

.card-item .btn-input button {
  font-size: 20px;
  padding: 0 30px;
  background: none;
  border: none;
}

.card-item {
  padding: 0 25px;
  top: 3rem;
  border-radius: 19px;
  border: 1px solid #A6A6A6;
  box-sizing: border-box;
}

.harga-total {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

/* Akun Sosmed */
.profile-navbar {
  padding: 40px 0px;
  border-bottom: 8px solid #d9d9d9;
    border-top: 8px solid #d9d9d9;
}

.profile-navbar .profile-user h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.profile-navbar .profile-user h2 span {
  font-size: 40px;
}
.profile-navbar .profile-user h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: var(--hijauPolos);
  list-style-type: georgian;
  display: flex;
  align-items: center;
  gap: 6px;
}

.profile-navbar .profile-user button {
  width: 123px;
  height: 31px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #737373;
  border-radius: 6px;
  border: 1px solid #C8C8C8;
}

.profile-navbar .profile-follow {
    border-left: 2px solid #737373;
    text-align: center;
}
.profile-navbar .profile-follow p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    color: #737373;
}
.profile-navbar .profile-follow span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000000;
}

/* Ulasan */

.ulasan .component {
  border: 1px solid #626262;
  border-radius: 17px;
  padding-bottom: 10rem !important;
  padding-left: 20px;
  margin: 10px;
}

.component p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
}

.ulasan-user i {
  font-size: 40px;
}
.ulasan-user p {
  font-size: 84px;
  margin: 0;
}

.ulasan-user p span {
  font-size: 30px;
  color: #eaeaea;
}

.jumlah-user p {
  font-family: 'Poppins';
  font-size: 16px;
  color: #000000;
}

.rating span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #464646;
}

.komen p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.ulasan .filter {
  border: 1px solid #626262;
  border-radius: 17px;
}

.card-filter {
  border: 1px solid #626262;
  border-radius: 17px;
}

.rating-ceklis input {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #959595;
  border-radius: 3px;
}

.rating-ceklis i {
  font-size: 20px;
}

.rating-ceklis p {
  font-size: 24px;
  color: #000000;
}

/*--------------------------------------------------------------
.kategori-Pencarian &
--------------------------------------------------------------
.kategori-produk-3 
----------------------------------------------------------------*/

.kategori-pencarian,
.kategori-produk-3 {
  padding: 50px 0;
}

.kategori-pencarian .card-item,
.kategori-produk-3 .card-item {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  z-index: 9;
  width: 196px;
  overflow: hidden;
  padding: 0;
}

.kategori-pencarian .card-item .card-img,
.kategori-produk-3 .card-item .card-img {
  width: 100%;
  height: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.kategori-pencarian .card-item .card-title,
.kategori-produk-3 .card-item .card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #000000;
}
.kategori-pencarian .card-item .card-price,
.kategori-produk-3 .card-item .card-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
}
.kategori-pencarian .card-item .btn-card,
.kategori-produk-3 .card-item .btn-card {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 6px;
  color: #004b26;
  padding: 5px 7px;
  text-decoration: none;
  background: rgba(0, 255, 56, 0.31);
  border-radius: 2px;
}
.kategori-pencarian .card-item .card-desc,
.kategori-produk-3 .card-item .card-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 11px;
  color: #676767;
}
.kategori-pencarian .card-item i,
.kategori-produk-3 .card-item i {
  font-size: 13px;
}
.kategori-pencarian .card-item i span,
.kategori-produk-3 .card-item i span {
  margin-left: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 11px;
  color: #676767;
}

/* Slider Katagory akun 
--------------------------------------------------------------*/
.kategori-akun {
  padding: 40px 20px;
}

.kategori-akun .card .card-link:hover {
  font-size: 20px;
}

.carousel-item .item-scroll {
  border: 1px solid black;
  border-radius: 50px;
}
.kategori-akun .card:hover {
  transform: scale(0.8);
}
.kategori-akun .card,
.swiper-wrapper {
  border-radius: 9px;
  height: 100px;
  transition: 0.2s;
  transform: scale(0.9);
}
.kategori-akun .card .card-link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  padding: 5px 10px;
  line-height: 36px;
  color: #ffffff;
  transition: 0.3s;
  text-decoration: none;
}

.kategori-akun .carousel-control-next,
.kategori-akun .carousel-control-prev {
  width: 55px;
  height: 55px;
  background: #e6e6e6;
  border-radius: 50%;
  border: none;
  opacity: 0;
  transition: 0.5s;
  top: 20px;
}
.kategori-akun .carousel-control-next:hover {
  opacity: 1;
  transform: translateX(20px);
}
.kategori-akun .carousel-control-prev:hover {
  opacity: 1;
  transform: translateX(-20px);
}
.carousel-control-next-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236D6D6D'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%236D6D6D'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.img-fluid {
  transition: all 0.3s;
}
.img-fluid:hover {
  transform: scale(1.1);
}

.judul a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #2CA367;
  text-decoration: none;
}

/*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
    .footer {
      font-size: 14px;
      background-color: var(--color-primary);
      padding: 50px 0;
      color: white;
    }
    
    .footer .footer-info .logo {
      line-height: 0;
      margin-bottom: 25px;
    }
    
    .footer .footer-info .logo img {
      margin-right: 6px;
    }
    
    .footer .footer-info .logo span {
      font-size: 30px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #fff;
      font-family: var(--font-primary);
    }
    
    .footer .footer-info h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
    }
    
    .footer .social-links a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.2);
      font-size: 16px;
      color: rgba(255, 255, 255, 0.7);
      margin-right: 10px;
      transition: 0.3s;
    }
    
    .footer .social-links a:hover {
      color: #fff;
      border-color: #fff;
    }
    
    .footer h4 {
      position: relative;
      padding: 12px 0;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
    }
    
    .footer .footer-links {
      margin-bottom: 30px;
    }
    
    .footer .footer-links ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    .footer .footer-links ul i {
      padding-right: 2px;
      color: rgba(0, 131, 116, 0.8);
      font-size: 12px;
      line-height: 0;
    }
    
    .footer .footer-links ul li {
      padding: 10px 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    
    .footer .footer-links ul li:first-child {
      padding-top: 0;
    }
    
    .footer .footer-links ul a {
      transition: 0.3s;
      display: inline-block;
      line-height: 1;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      text-decoration: none;
    }
    
    .footer .footer-links ul a:hover {
      color: var(--bs-indigo);
    }
    
    .footer .footer-contact p {
      line-height: 26px;
    }
    
    .footer .copyright {
      text-align: center;
    }
    
    .footer .credits {
      padding-top: 4px;
      text-align: center;
      font-size: 13px;
    }
    
    .footer .credits a {
      color: #fff;
    }
   /* ................................>>>>>>> 
.content-search 
    >>>>>>>>>>>>>>.................. */
 .content-search {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
  overflow-y: scroll;
 }
 /* ................................>>>>>>> 
.content-search 
  >>>>>>>>>>>>>>.................. */
.content-search {
position: fixed;
width: 100%;
height: 100vh;
display: block;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 2;
cursor: pointer;
transition: all 0.3s;
overflow-y: scroll;
}



/* scrollbar */
.content-search::-webkit-scrollbar {
width: 8px;
height: 8px;
background-color: #eee;
}

/* thumb */
.content-search::-webkit-scrollbar-thumb {
background-color: #888;
border-radius: 10px;
border: 3px solid #eee;
}

/* thumb on hover */
.content-search::-webkit-scrollbar-thumb:hover {
background-color: #555;
border: 3px solid #eee;
}

/* track */
.content-search::-webkit-scrollbar-track {
background-color: #eee;
}

/* track on hover */
.content-search::-webkit-scrollbar-track:hover {
background-color: #ddd;
}