@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family:'Alien Encounters';
  src: url(../asset/fonts/Alien/Alien-Encounters-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --hijauMuda: #03ac0e;
  --hijauPolos: #2ca367;
  --putihF4: #f4f4f4;
  --span: #929292;
  --bt: 2px solid #d1d1d1;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav .btn img {
  width: 20px;
}
nav .navbar-brand:hover {
  cursor: pointer;
  color: #03ac0e;
}
nav .navbar-brand {
  font-family: "Alien Encounters";
  font-weight: 400;
  font-size: 36px;
  color: var(--hijauPolos);
  text-decoration: none;
  transition: all 0.5;
}
nav form {
  height: 43px;
  align-items: center;
}
nav .btn {
  border: none;
  transform: translateX(10px);
}
nav .btn .search-img {
  background: none;
}

nav .form-control {
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  z-index: 1;
  padding-left: 7%;
}
nav .form-control::placeholder {
  color: #cdcdcd;
  font-size: 14px;
}
nav .form-control:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--hijauMuda);
  background: transparent;
}

nav .icon button:hover {
  background: var(--hijauMuda);
  border-radius: 4px;
}
nav .icon button {
  border: none;
  background: none;
  transition: 0.3s;
}
nav .icon button img {
  width: 18px;
}
nav .account .profil img {
  width: 28px;
  height: 25px;
  border: 2px solid var(--span);
  border-radius: 50%;
  box-sizing: border-box;
}

nav .account button {
  display: flex;
  align-items: center;
  color: #929292;
  background: none;
  border: none;
}

nav .account .btn-daftar {
  font-weight: bold;
}
nav .account .btn-daftar:hover {
  background: var(--hijauMuda);
  border-radius: 4px;
  color: white;
}

.hero {
  width: 100%;
  position: relative;
  padding: 40px 0;
}
.hero-container {
  background: linear-gradient(100.95deg, #588157 36.29%, #3a5a40 72.67%, #344e41 106.47%);
  border-radius: 25px;
  padding: 60px 0 60px 0;
}

.telusuri {
  position: relative;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.telusuri .search {
  padding: 8px 20px;
  display: inline;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.account {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  gap: 20px;
}

.account p {
  margin-top: 8px;
  margin-bottom: 0rem;
}

.halaman-pertama {
  display: flex;
  gap: 10px;
  padding: 115px 20px;
}

.layanan-hero {
  position: relative;
  left: -1rem;
}

.empatratus {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #8A8A8A;
  position: absolute;
  top: 50px;
  left: 5rem;
}

.head-beam {
  padding: 10px 20px;
  gap: 5rem;
  display: flex;
  position: absolute;
  left: 2px;
  top: 645px;
}

.lightweight {
  padding: 10px 20px;
  gap: 5rem;
  display: flex;
  position: absolute;
  left: 7rem;
  top: 645px;
}

.color-breathing {
  padding: 10px 20px;
  gap: 5rem;
  display: flex;
  position: absolute;
  left: 14rem;
  top: 645px;
}

#rating {
  display: flex;
  gap: 10px;
  padding-inline: 9rem;
  margin-top: -9%;
}

.text-hero {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 11rem;
  left: 33rem;
}

.jumlah-rating {
  font-size: 15px;
  display: flex;
  line-height: 22px;
  justify-content: center;
  margin-top: -1rem;
  padding-left: 2rem;
}

#harga {
  font-size: 32px;
  line-height: 48px;
}

.rincian {
  border: 1px solid #DDDDDD;
  position: absolute;
  width: 432.5px;
  height: 0px;
  left: 525.5px;
  top: 375px;
}

.detail {
  position: absolute;
  top: 14px;
}

.detail a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #2CA367;
  text-decoration: none;
}

.garis-hijau {
  position: absolute;
  width: 50.5px;
  height: 0px;
  left: 525.5px;
  top: 425px;
  border: 1px solid #2CA367;
}

.rincian1 {
  position: absolute;
  width: 432.5px;
  height: 0px;
  left: 525.5px;
  top: 426px;
  border: 1px solid #DDDDDD;
}

.rincian-barang {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.kondisi {
  position: absolute;
  top: 28rem;
  left: 33rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
}

.kondisi span {
  color: #000000;
}

.berat {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  top: 30rem;
  left: 33rem;
}

.berat span {
  color: #000000;
}

.kategori {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  top: 32rem;
  left: 33rem;
}

.kategori span {
  color: #000000;
}

.etalase {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  top: 34rem;
  left: 33rem;
}

.etalase span {
  color: #000000;
}

.desc-detail {
  position: absolute;
  left: 33rem;
  top: 37rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}


.account-sosmed {
  border-top: 1px solid #a6a6a6;
  width: 100%;
  margin: 180px auto;
  padding: 40px 30px;
}

.account-sosmed img {
  width: 100px;
  height: 100px;
}

.nama-account {
  display: flex;
  justify-content: center;
  margin-top: -6rem;
  padding-right: 53rem;
}

.nama-account p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.online-account {
  height: 12px;
  margin: 2px -2px -2px 2px;
  width: 12px;
}

.akun {
  background: #2CA367;
  border: 3.5px solid rgb(var(--ig-primary-background));
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  left: 14%;
}

.online {
  display: flex;
  justify-content: center;
  margin: -55px auto;
  padding-right: 54rem;
  position: relative;
  top: 51px;
}

.online p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #2CA367;
}

.garis-border {
  position: absolute;
  height: 136px;
  left: 33rem;
  top: 60rem;
  border: 1px solid #9F9F9F;
}

.followers {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

.followers p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #737373;
}

.jumlah-follow {
  top: 3rem;
  display: flex;
  position: relative;
  left: -6rem;
}

.jumlah-follow p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.following {
  display: flex;
  justify-content: center;
  position: relative;
  top: -23px;
  padding-left: 30rem;
}

.following p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #737373;
}

.jumlah-following {
  top: 3rem;
  display: flex;
  position: relative;
  left: -6rem;
}

.jumlah-following p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.jam-buka {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -97px;
}

.jam-buka p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #737373;
}

.waktu-jam {
  top: 3rem;
  display: flex;
  position: relative;
  left: -8rem;
}

.waktu-jam p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.ulasan-fotovideo {
  background: #FFFFFF;
  border: 1px solid #626262;
  border-radius: 17px;
  box-sizing: border-box;
  position: absolute;
  width: 871px;
  height: 698px;
  left: 55px;
  top: 1133px;
}

.gaming {
  position: relative;
  margin: 40px 85px;
}
*--------------------------------------------------------------
/* Slider Katagory Produk 2 
--------------------------------------------------------------*/

.kategori-produk-2 {
  padding: 40px 0;
  border-bottom: var(--bt);
}

/*--------------------------------------------------------------
.kategori-Pencarian &
--------------------------------------------------------------
.kategori-produk-3 
----------------------------------------------------------------*/

.kategori-pencarian,
.kategori-produk-3 {
  padding: 40px 0;
  position: relative;
  top: -35rem;
  border-bottom: var(--bt);
  border: 1px solid #D1D1D1;
}

.kategori-pencarian .card-item,
.kategori-produk-3 .card-item {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  z-index: 9;
  width: 196px;
  overflow: hidden;
  padding: 0;
}

.kategori-pencarian .card-item .card-img,
.kategori-produk-3 .card-item .card-img {
  width: 100%;
  height: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.kategori-pencarian .card-item .card-title,
.kategori-produk-3 .card-item .card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #000000;
}
.kategori-pencarian .card-item .card-price,
.kategori-produk-3 .card-item .card-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
}
.kategori-pencarian .card-item .btn-card,
.kategori-produk-3 .card-item .btn-card {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 6px;
  color: #004b26;
  padding: 5px 7px;
  text-decoration: none;
  background: rgba(0, 255, 56, 0.31);
  border-radius: 2px;
}
.kategori-pencarian .card-item .card-desc,
.kategori-produk-3 .card-item .card-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 11px;
  color: #676767;
}
.kategori-pencarian .card-item i,
.kategori-produk-3 .card-item i {
  font-size: 13px;
}
.kategori-pencarian .card-item i span,
.kategori-produk-3 .card-item i span {
  margin-left: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 11px;
  color: #676767;
}

.judul span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #2CA367;
}

.judul a {
  text-decoration: none;
}

.kategori-produk-4 {
  padding: 40px 0;
  position: relative;
  top: -35rem;
  border-bottom: var(--bt);
  border: 1px solid #D1D1D1;
}

 .card-item,
.kategori-produk-4 .card-item {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  z-index: 9;
  width: 196px;
  overflow: hidden;
  padding: 0;
}

 .card-item .card-img,
.kategori-produk-4 .card-item .card-img {
  width: 100%;
  height: 163px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

 .card-item .card-title,
.kategori-produk-4 .card-item .card-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 11px;
  color: #000000;
}
 .card-item .card-price,
.kategori-produk-4 .card-item .card-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 16px;
  color: #000000;
}
 .card-item .btn-card,
.kategori-produk-4 .card-item .btn-card {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 6px;
  color: #004b26;
  padding: 5px 7px;
  text-decoration: none;
  background: rgba(0, 255, 56, 0.31);
  border-radius: 2px;
}
 .card-item .card-desc,
.kategori-produk-4 .card-item .card-desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 11px;
  color: #676767;
}
 .card-item i,
.kategori-produk-4 .card-item i {
  font-size: 13px;
}
 .card-item i span,
.kategori-produk-4 .card-item i span {
  margin-left: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 11px;
  color: #676767;
}

.judul span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #2CA367;
}

.judul a {
  text-decoration: none;
}

.img-fluid {
  transition: all 0.3s;
}
.img-fluid:hover {
  transform: scale(1.1);
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
    background-color: var(--color-primary);
    position: relative;
    top: -25rem;
    color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  position: relative;
  padding-bottom: 12px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(0, 131, 116, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.footer .footer-links ul a:hover {
  color: var(--bs-indigo);
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}
