@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;500;600;700;800&display=swap");
@import url("../bootstrap-5.3.0/css/bootstrap-grid.css");
@font-face {
  font-family: "Alien Encounters";
  src: url(../asset/fonts/Alien-Encounters-Regular.ttf);
}
.btn {
  background: var(--hijauMuda);
  color: black;
}
.my-button {
  background-color: var(--bs-indigo);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.1s ease;
}

.my-button:hover {
  background-color: #028c0a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --hijauMuda: #03ac0e;
  --hijauPolos: #2ca367;
  --putihF4: #f4f4f4;
  --span: #929292;
  --bt: 2px solid #D1D1D1;
}

header {
  position: relative;
  z-index: 9999;
  background: #fff;
}

header span {
  font-size: 12px;
}

header .header {
  padding: 8px 32px;
  background: var(--putihF4);
}

header .header span {
  color: var(--span);
}

header .header span:hover {
  cursor: pointer;
  color: var(--hijauMuda);
}

header .header img {
  width: 20px;
}

header nav {
  padding: 8px 55px;
  background: #fff;
}
header nav .logo {
  font-family: "Alien Encounters";
  font-weight: 400;
  font-size: 36px;
  color: var(--hijauPolos);
  text-decoration: none;
}

header nav span {
  color: var(--span);
}
header nav .text-kategory {
  padding: 2px 5px;
}

header nav .wrap-search {
  position: relative;
  background: #fff;
  width: 100%;
  height: 43px;
}

header nav .wrap-search .form-control {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  z-index: 1;
  padding-left: 7%;
}
header nav .wrap-search .form-control::placeholder {
  color: #cdcdcd;
  font-size: 14px;
}
header nav .wrap-search .form-control:focus {
  box-shadow: none;
  border: 2px solid var(--hijauMuda);
  background: #fff;
}

header nav .wrap-search .wrap-icon-search {
  position: absolute;
  left: 0;
  height: 100%;
  width: 7%;
}

header nav .img-search,
header nav .img-shop {
  width: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header nav .img-shop {
  width: 20px;
}
header nav .img-notif {
  height: 20px;
}
header nav .img-message {
  width: 20px;
}

header nav .wrap-icon-shop,
header nav .wrap-icon-notif,
header nav .wrap-icon-message {
  position: relative;
  background: transparent;
  height: max-content;
  width: max-content;
  padding: 0px 8px 5px 8px;
  transition-duration: 0.5s;
}
header nav .wrap-icon-shop:hover,
header nav .wrap-icon-notif:hover,
header nav .wrap-icon-message:hover {
  cursor: pointer;
}

header nav .profil {
  width: 37px;
  height: 35px;
  background: url(../asset/account/account.png);
  background-position: center;
  background-size: cover;
  border: 2px solid var(--span);
}
header nav .account {
  font-size: 15px;
  text-decoration: none;
  font-family: "Montserrat";
  white-space: nowrap;
  color: black;
  font-weight: 400;
  padding: 2px 5px;
}
header nav .account:hover {
  background-color: #f3f4f5;
  border-radius: 4px;
  color: var(--hijauMuda);
}

/* menu bar */
.menu-bar:hover {
  visibility: visible;
}

.menu-bar {
  width: 400px;
  display: flex;
  position: absolute;
  right: 35px;
  top: 70.1px;
  background: #fff;
  box-shadow: 0 -1px 9px 0 rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
  border-radius: 12px;
  visibility: hidden;
  z-index: 999999;
  transition: all 0.3s;
}

.menuActive {
  visibility: visible;
  transform: translate(0, 0);
  transition: all 0.3s;
}

.menu-bar h4 {
  font-size: 18px;
  font-weight: bold;
}

.menu-bar p {
  font-size: 14px;
  color: #31353bad;
}

.menu-bar img {
  width: 50%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}

.overlayActive {
  display: block;
}

.home {
  position: relative;
  top: 35px;
}

.home-inner {
  width: 93%;
  position: relative;
  padding: 80px 0 150px 0;
  background: linear-gradient(100.95deg, #588157 36.29%, #3a5a40 72.67%, #344e41 106.47%);
  border-radius: 25px;
}
.home-inner h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 59px;
  color: #ffffff;
  padding: 0;
}

.home-inner p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  padding: 13px 0 32px 0;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.home-inner a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  padding: 10px 7px;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
}
/* 
.home-inner img {
  width: 320px;
  position: absolute;
  right: 10rem;
  top: 2rem;
}

.katagory-pilihan {
  display: relative;
  margin-top: 5rem;
  padding: 0 32px;
}
.katagory-pilihan .btn-card {
  width: 55px; height: 55px;
  background: #E6E6E6;
  border-radius: 50%;
  border:none;
}
.katagory-pilihan .btn-card span {
  font-size: 22px;
  color: var(--span);
}

@media (min-width: 1200px){
  .container, .container-lg ,.container-md .container-sm ,.container-xl {
      max-width: 1300px;
  }

}

