@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;500;600;700;800&display=swap");

@font-face {
  font-family: "Alien Encounters";
  src: url(../asset/fonts/Alien-Encounters-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

/* Header Start  */
.container-fluid {
  padding-left: 55px;
  padding-right: 55px;
  height: 2000px;
}
.navbar-brand {
  font-family: "Alien Encounters";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #2ca367 !important;
}

.icon-search {
  position: absolute;
  z-index: 2;
  transform: translate(15px, 8px);
  font-size: 17px;
}
.form-control:hover {
  border: none;
}
.search {
  padding-left: 60px;
}
.form-control {
  padding-left: 45px;
  width: 625px;
  height: 43px;
  font-family: "Montserrat", sans-serif;
}
.navbar-nav {
  gap: 30px;
  align-items: center;
}
.account {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  cursor: pointer;
  font-size: 13px;
  margin-left: -15px;
}
/* Header End */

/* Home Start  */
#home {
  height: 567px;
  transform: translateY(90px);
  background: linear-gradient(100.95deg, #588157 36.29%, #3a5a40 72.67%, #344e41 106.47%);
  border-radius: 25px;
}
#home .content {
  padding: 89px 0px 0 122px;
}
#home .content h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
}
#home .content p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 50px;
}
#home .content a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #fff;
  text-decoration: none;
  padding: 19px;
  border: 2px solid white;
  border-radius: 5px;
}

#home .image {
  padding: 61px 113px 78px 0;
}
#home .image img {
  width: 100%;
}
/* Home End */

/* Layanan Start */

.carousel {
  transform: translateY(151px);
  border-bottom: 2px solid #d1d1d1;
  padding-bottom: 50px;
}
.carousel-item .layanan {
  padding: 20px 0;
  background: transparent;
  transform: translateX(-20px);
}
.carousel-item .layanan .btn-lyn {
  padding: 20px 20px;
  margin: 0 25px;
  background: transparent;
  border: 2px solid #d1d1d1;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #545454;
  text-decoration: none;
}
.carousel .btn-next {
  width: 54px;
  height: 54px;
  background-color: #545454;
  transform: translateY(5px);
}
/* Layanan End */

/* Menu Special Start */
.carousel .special-menu{
  margin: 50px 0;
}
.carousel .special-menu h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin: 0;
}
.carousel .special-menu p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  color: #4b4b4b;
}
/* Menu Special End  */
