@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family:'Alien Encounters';
  src: url(../asset/fonts/Alien-Encounters-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Alien Encounters';
  font-weight: 400;
  font-size: 36px;
  color: #2CA367;
}

/* 
.search-icon {
  position: absolute;
} */

header {
  align-items: center;
  justify-content: space-between;
  padding: 2rem ;
  gap: 5rem;
  display: flex;
  flex-direction: row;
}

.telusuri {
  position: relative;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.telusuri .search {
  padding: 8px 20px;
  display: inline;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.account {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  gap: 20px;
}

.account p {
  margin-top: 8px;
  margin-bottom: 0rem;
}

.halaman-pertama {
  display: flex;
  gap: 10px;
  padding: 50px 20px;
}

.empatratus {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #8A8A8A;
  position: absolute;
  top: 50px;
  left: 5rem;
}

.head-beam {
  padding: 10px 20px;
  gap: 5rem;
  display: flex;
  position: absolute;
  left: 2px;
  top: 645px;
}

#rating {
  display: flex;
  gap: 10px;
  padding-inline: 9rem;
  margin-top: -9%;
}

.text-hero {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 11rem;
  left: 33rem;
}

.jumlah-rating {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  line-height: 22px;
  justify-content: center;
  margin-top: -2rem;
  padding-top: 1rem;
  margin-left: 2rem;
}