@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family:'Alien Encounters';
  src: url(../asset/fonts/Alien-Encounters-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.logo {
  font-family: 'Alien Encounters';
  font-weight: 400;
  font-size: 36px;
  color: #2CA367;
}

/* 
.search-icon {
  position: absolute;
} */

header {
  align-items: center;
  justify-content: space-between;
  padding: 2rem ;
  gap: 5rem;
  display: flex;
  flex-direction: row;
}

.telusuri {
  position: relative;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.telusuri .search {
  padding: 8px 20px;
  display: inline;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.account {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  gap: 20px;
}

.account p {
  margin-top: 8px;
  margin-bottom: 0rem;
}

.halaman-pertama {
  display: flex;
  gap: 10px;
  padding: 50px 20px;
}

.empatratus {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #8A8A8A;
  position: absolute;
  top: 50px;
  left: 5rem;
}

.head-beam {
  padding: 10px 20px;
  gap: 5rem;
  display: flex;
  position: absolute;
  left: 2px;
  top: 645px;
}

.lightweight {
  padding: 10px 20px;
  gap: 5rem;
  display: flex;
  position: absolute;
  left: 7rem;
  top: 645px;
}

.color-breathing {
  padding: 10px 20px;
  gap: 5rem;
  display: flex;
  position: absolute;
  left: 14rem;
  top: 645px;
}

#rating {
  display: flex;
  gap: 10px;
  padding-inline: 9rem;
  margin-top: -9%;
}

.text-hero {
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  position: absolute;
  top: 11rem;
  left: 33rem;
}

.jumlah-rating {
  font-size: 15px;
  display: flex;
  line-height: 22px;
  justify-content: center;
  margin-top: -1rem;
  padding-left: 2rem;
}

#harga {
  font-size: 32px;
  line-height: 48px;
}

.rincian {
  border: 1px solid #DDDDDD;
  position: absolute;
  width: 432.5px;
  height: 0px;
  left: 525.5px;
  top: 375px;
}

.detail {
  position: absolute;
  top: 14px;
}

.detail a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #2CA367;
  text-decoration: none;
}

.garis-hijau {
  position: absolute;
  width: 50.5px;
  height: 0px;
  left: 525.5px;
  top: 425px;
  border: 1px solid #2CA367;
}

.rincian1 {
  position: absolute;
  width: 432.5px;
  height: 0px;
  left: 525.5px;
  top: 426px;
  border: 1px solid #DDDDDD;
}

.rincian-barang {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.kondisi {
  position: absolute;
  top: 28rem;
  left: 33rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
}

.kondisi span {
  color: #000000;
}

.berat {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  top: 30rem;
  left: 33rem;
}

.berat span {
  color: #000000;
}

.kategori {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  top: 32rem;
  left: 33rem;
}

.kategori span {
  color: #000000;
}

.etalase {
  position: absolute;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #868686;
  top: 34rem;
  left: 33rem;
}

.etalase span {
  color: #000000;
}

.desc-detail {
  position: absolute;
  left: 33rem;
  top: 37rem;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.card-pesanan {
  box-sizing: border-box;
  position: absolute;
  width: 354px;
  height: 384px;
  left: 64rem;
  top: 23%;
  border: 1px solid #A6A6A6;
  border-radius: 19px;
}

.card-pesanan p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-top: 1rem;
  padding: 5px 2rem;
}

.jumlah-card {
  position: absolute;
  width: 179px;
  height: 38px;
  left: 2rem;
  box-sizing: border-box;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
}

.click-minus button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  width: 40px;
  padding: 4px;
}

.angka {
  background-color: transparent;
  border: none;
  color: var(--NN950,#212121);
  font-family: 'Poppins';
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  outline: none;
  text-align: center;
  -webkit-box-flex: 2;
  top: 10px;
  left: 0rem;
}

.tambah-angka {
  appearance: none;
  position: absolute;
  left: 80%;
}

.total-stok {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0px, 0px, 0px, 0px);
  border: 0px;
}

.stok {
  display: block;
  position: relative;
  margin: 0px 0px 0px 0px;
  text-decoration: initial;
}

.total-jumlah {
  position: absolute;
  left: 78rem;
  top: 32%;
}

.maximal {
  padding: 20px 5px;
  display: flex;
  position: absolute;
  gap: 10px;
  align-items: center;
  left: 66rem;
  top: 18rem;
  cursor: pointer;
}

.maximal p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #A6A6A6;
}

.subtotal {
  margin: 16px 0px;
  display: flex;
  left: 66rem;
  position: absolute;
  top: 26rem;
}

.jumlah-subtotal {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  top: -2rem;
}

.subtotal-card {
  display: block;
  position: relative;
  font-weight: 400;
  font-family: 'Poppins';
  font-size: 1rem;
  line-height: 18px;
  letter-spacing: 0px;
  color: #A6A6A6;
  text-decoration: initial;
  margin: 0px;
}

.harga-card {
  display: block;
  position: relative;
  font-family: "Poppins";
  letter-spacing: 0px;
  color: var(--NN950,#212121);
  text-decoration: initial;
  margin: 0px 130px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.keranjang-btn {
  background-color: #2CA367;
  border: none;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: 'Poppins';
  font-size: 1rem;
  font-weight: 800;
  height: 40px;
  line-height: 20px;
  outline: none;
  position: relative;
  left: 66rem;
  top: -15rem;
  padding: 0px 16px;
  text-indent: initial;
  transition: background-color 300ms ease 0s;
  width: 18%;
  margin: 8px 0px;
}

.keranjang-btn span {
  display: block;
  font-size: inherit;
  opacity: 1;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  top: 0px;
  transition: opacity 300ms linear 0s, top 300ms linear 0s;
  white-space: nowrap;
}

.beli-btn {
  background-color: var(--NN0,#FFFFFF);
  border: 1px solid var(--GN500,#00AA5B);
  border-radius: 8px;
  color: var(--GN500,#00AA5B);
  cursor: pointer;
  display: block;
  font-family: 'Poppins';
  font-weight: 800;
  font-size: 1rem;
  height: 40px;
  line-height: 20px;
  outline: none;
  position: relative;
  left: 66rem;
  top: -15rem;
  padding: 0px 16px;
  text-indent: initial;
  transition: background-color 300ms ease 0s;
  width: 18%;
}

.account-sosmed {
  border-top: 1px solid #a6a6a6;
  width: 100%;
  margin: 20px auto;
  padding: 32px 30px;
}

.account-sosmed img {
  width: 100px;
  height: 100px;
}

.nama-account {
  display: flex;
  justify-content: center;
  margin-top: -6rem;
  padding-right: 79rem;
}

.nama-account p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.online-account {
  height: 12px;
  margin: 2px -2px -2px 2px;
  width: 12px;
}

.akun {
  background: green;
  border: 3.5px solid rgb(var(--ig-primary-background));
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  top: 54rem;
  left: 9%;
}