@font-face {
  font-family:'Alien Encounters';
  src: url(../asset/fonts/Alien-Encounters-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

.logo {
  font-family: 'Alien Encounters';
  font-weight: 400;
  font-size: 36px;
  color: #2CA367;
}
/* 
.search-icon {
  position: absolute;
} */

header {
  align-items: center;
  justify-content: space-between;
  padding: 2rem ;
  gap: 4rem;
  display: flex;
  flex-direction: row;
}

.telusuri {
  position: relative;
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding-left: 10px;
  border: 1px solid #808080;
  border-radius: 4px;
}

.telusuri .search {
  padding: 8px 20px;
  display: inline;
  width: 100%;
  border: none;
}

input:focus {
  outline: none;
}

input {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #808080;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
