@font-face {
  font-family: "Alien Encounters";
  src: url(../fonts/Alien/Alien-Encounters-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "PT sans";
  src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --hijauMuda: #03ac0e;
  --hijauPolos: #2ca367;
  --putihF4: #f4f4f4;
  --span: #929292;
  --bt: 2px solid #d1d1d1;
}

/* ------------------------------------------^^^^^^^^^^
        Navbar Start 
        ----------------------------------------- >>>>>>>>>> */
nav {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25) !important;
  left: 0;
  right: 0;
  z-index: 9999;
}
nav .btn img {
  width: 20px;
}
nav .navbar-brand:hover {
  cursor: pointer;
  color: #03ac0e;
}
nav .navbar-brand {
  font-family: "Alien Encounters";
  font-weight: 400;
  font-size: 36px;
  color: var(--hijauPolos);
  text-decoration: none;
  transition: all 0.5;
}
nav form {
  height: 43px;
  align-items: center;
}
nav .btn {
  border: none;
  transform: translateX(10px);
}
nav .btn .search-img {
  background: none;
}

nav .form-control {
  background: transparent;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  z-index: 1;
  padding-left: 7%;
}
nav .form-control::placeholder {
  color: #cdcdcd;
  font-size: 14px;
}
nav .form-control:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--hijauMuda);
  outline: none;
  box-shadow: 0 0 0 2px #028c0a;
  background: transparent;
}

nav .icon button:hover {
  background: var(--hijauMuda);
  border-radius: 4px;
  cursor: pointer;
}
nav .icon button {
  border: none;
  background: none;
  transition: 0.3s;
}
nav .icon button img {
  width: 18px;
}
nav .account .profil img {
  width: 28px;
  height: 25px;
  border: 2px solid var(--span);
  border-radius: 50%;
  box-sizing: border-box;
}

nav .account button {
  display: flex;
  align-items: center;
  color: #929292;
  background: none;
  border: none;
}

nav .account .btn-daftar {
  font-weight: bold;
}
nav .account .btn-daftar:hover {
  background: var(--hijauMuda);
  border-radius: 4px;
  color: white;
}

.burger {
  position: relative;
  width: 30px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: var(--span);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 22px;
  left: 5px;
}

.trolly-menu {
  width: 400px;
  display: flex;
  position: absolute;
  right: 74px;
  top: -3px;
  background: #fff;
  box-shadow: 0 -1px 9px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 12px;
  z-index: 999999;
  transition-delay: 0.2s;
  /* transform: translateY(70px); */
  /* transition: all 5s ease-out; */
}

/* .active {
  visibility: visible;
  opacity: 1;
  
} */

.trolly-menu h4 {
  font-size: 18px;
  font-weight: bold;
}

.trolly-menu p {
  font-size: 14px;
  color: #31353bad;
}

.trolly-menu .image {
  border-radius: 12px 12px 0 0;
  background: #01cee9;
  margin: 5px;
}
.trolly-menu .image img {
  width: 50%;
}

.btn-trolly {
  background-color: var(--bs-indigo);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;

  transition: all 0.5s ease-out;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.btn-trolly:hover {
  background-color: #028c0a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.notif-menu {
  overflow-y: auto;
  width: 400px;
  padding: 0;
  height: 80vh;
  display: block;
  position: absolute;
  right: 74px;
  top: -3px;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  z-index: 999999;
  /* opacity: 0; */
  /* transform: translateY(70px); */
  transition: all 5s ease-out;
}

.notif-menu h4 {
  font-size: 18px;
  font-weight: bold;
}

.notif-menu p {
  font-size: 14px;
  color: #31353bad;
}

.notif-menu .image {
  border-radius: 12px 12px 0 0;
  background: #01cee9;
  margin: 5px;
}
.notif-menu .image img {
  width: 50%;
}
.notif-menu .header {
  width: 100%;
  height: 43px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 30px 20px;
}
.notif-menu .header h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}
.notif-menu .header i {
  color: var(--span);
  font-size: 20px;
}

.notif-menu .about {
  width: 100%;
}

.notif-menu .about span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 7px;
  color: #6d6d6d;
}
.notif-menu .about h1 {
  padding: 10px 0;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 12px;
  color: #000000;
}
.notif-menu .about p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #6d6d6d;
}
.notif-menu a:hover {
  scale: 1.1;
  color: #03ac0e;
}
.notif-menu a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #2ca367;
}

/* scrollbar */
.notif-menu::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #eee;
}

/* thumb */
.notif-menu::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 3px solid #eee;
}

/* thumb on hover */
.notif-menu::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  border: 3px solid #eee;
}

/* track */
.notif-menu::-webkit-scrollbar-track {
  background-color: #eee;
}

/* track on hover */
.notif-menu::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}

/* message notif start  */
.message-menu {
  width: 250px;

  height: 260px;
  display: flex;
  position: absolute;
  right: 74px;
  top: -3px;
  background: #fff;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  border-radius: 12px;
  z-index: 999999;
  /* transform: translateY(70px); */
  transition: all 5s ease-out;
}

.message-menu a:hover {
  color: var(--hijauMuda);
}
.message-menu a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-decoration: none;
  padding: 10px;
  color: #000000;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 90vh;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s;
}

/*--------------------------------------------------------------
    # <!-- About Start -->
    --------------------------------------------------------------*/
.about-home {
  padding: 110px 20px;
}
.about-home h2 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--hijauPolos);
}

.about-home h1 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 124px;
  color: var(--hijauPolos);
}

.about-home p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139.9%;
  color: #808080;
}

/*--------------------------------------------------------------
    # <!-- About Start -->
    --------------------------------------------------------------*/
.about {
  padding: 110px 20px;
  position: relative;
}
.about .about-hero img {
  width: 205px;
}

.about h1 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 124px;

  color: var(--hijauPolos);
}

.about p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.about .garis-shadow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*--------------------------------------------------------------
    # Footer
    --------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: var(--color-primary);
  padding: 50px 0;
  color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  position: relative;
  padding: 12px 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(0, 131, 116, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.footer .footer-links ul a:hover {
  color: var(--bs-indigo);
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

/* Responsive  */

@media (max-width: 576px) {
  .img-visa {
    transform: translate(520%, -125%) !important;
  }
  .trolly h1 {
    font-size: 5px;
  }

  .trolly .table thead {
    font-size: 15px;
  }
  .trolly .table tbody {
    font-size: 12px;
  }
  .trolly .table img {
    width: 50px;
    height: 50px;
  }
  .checkmark {
    top: -10px;
  }
  .footer .footer-links ul li {
    justify-content: center;
  }

  .about-home .about-h2 {
    display: flex;
    justify-content: center;
  }
  .about-home h2 {
    font-size: 20px;
    display: flex;
  }
  .about-home h1,
  .about h1 {
    font-size: 50px;
    text-align: center;
  }

  .about-home p,
  .about p {
    font-size: 15px;
    text-align: justify;
  }

  .about .about-hero img {
    width: 150px;
  }

  .about .garis-shadow {
    height: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 768px) {
}

/* Styles for small devices (tablets) */
@media (max-width: 768px) {
  /* Add your styles here */
  .about .about-hero {
    gap: 2.5rem !important;
  }
  .about .about-hero img {
    width: 170px;
  }
  nav .navbar-brand {
    font-size: 28px;
  }
}
