@font-face {
  font-family: "Alien Encounters";
  src: url(../fonts/Alien/Alien-Encounters-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "PT sans";
  src: url(../fonts/PT_Sans/PTSans-Regular.ttf);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --hijauMuda: #03ac0e;
  --hijauPolos: #2ca367;
  --putihF4: #f4f4f4;
  --span: #929292;
  --bt: 2px solid #d1d1d1;
}

/*--------------------------------------------------------------
    # <!-- About Start -->
    --------------------------------------------------------------*/
.about-home {
  padding: 110px 20px;
}
.about-home h2 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: var(--hijauPolos);
}

.about-home h1 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 124px;
  color: var(--hijauPolos);
}

.about-home p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 139.9%;
  color: #808080;
}

/*--------------------------------------------------------------
    # <!-- About Start -->
    --------------------------------------------------------------*/
.about {
  padding: 110px 20px;
  position: relative;
}
.about .about-hero img {
  width: 205px;
}

.about h1 {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 124px;

  color: var(--hijauPolos);
}

.about p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.about .garis-shadow {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 7px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Responsive  */

@media (max-width: 576px) {
  .img-visa {
    transform: translate(520%, -125%) !important;
  }
  .trolly h1 {
    font-size: 5px;
  }

  .trolly .table thead {
    font-size: 15px;
  }
  .trolly .table tbody {
    font-size: 12px;
  }
  .trolly .table img {
    width: 50px;
    height: 50px;
  }
  .checkmark {
    top: -10px;
  }
  .footer .footer-links ul li {
    justify-content: center;
  }

  .about-home .about-h2 {
    display: flex;
    justify-content: center;
  }
  .about-home h2 {
    font-size: 20px;
    display: flex;
  }
  .about-home h1,
  .about h1 {
    font-size: 50px;
    text-align: center;
  }

  .about-home p,
  .about p {
    font-size: 15px;
    text-align: justify;
  }

  .about .about-hero img {
    width: 150px;
  }

  .about .garis-shadow {
    height: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 768px) {
}

/* Styles for small devices (tablets) */
@media (max-width: 768px) {
  /* Add your styles here */
  .about .about-hero {
    gap: 2.5rem !important;
  }
  .about .about-hero img {
    width: 170px;
  }
  nav .navbar-brand {
    font-size: 28px;
  }
}
