@font-face {
  font-family: "Alien Encounters";
  src: url(../fonts/Alien/Alien-Encounters-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/static/Montserrat-Regular.ttf);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

:root {
  --hijauMuda: #03ac0e;
  --hijauPolos: #2ca367;
  --putihF4: #f4f4f4;
  --span: #929292;
  --bt: 2px solid #d1d1d1;
}

/*--------------------------------------------------------------
  # troll.trolly
  --------------------------------------------------------------*/
.trolly {
  padding: 110px 20px;
  border-bottom: var(--bt);
}

.trolly h1 {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.trolly .table thead {
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.trolly .table tbody th {
  border: none;
}
  .footer .footer-links ul li {
    justify-content: center;
  }
  .footer .footer-links .social-links {
    justify-content: center;
  }

  .hero .icon-boxes {
    padding-bottom: 60px;
  }


  .trolly .table img {
    width: 20px;
    height: 20px;
  }
  .img-visa {
    transform: translate(600%, -130%);
  }

  
.trolly .table tbody input {
  transform: translateY(150%);
  height: 24px;
  width: 24px;
  border-radius: 4px;
}
.trolly .table tbody {
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
.trolly .table tbody .indikator {
  background: #d9d9d9;
  border-radius: 13.5px;
}
.trolly .table tbody .indikator button {
  background: #d9d9d9;
  border-radius: 13.5px;
  border: none;
}
.trolly .table img {
  width: 100px;
  height: 100px;
}
.garis {
  border-bottom: 1px solid #959595 !important;
}

/* Hide the default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  border-radius: 5px;
}

.check {
  transform: translateY(160%);
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  box-shadow: 3px 3px 0px rgb(183, 183, 183);
  transition: all 0.2s;
  opacity: 1;
  background-image: linear-gradient(45deg, rgb(100, 61, 219) 0%, rgb(217, 21, 239) 100%);
}

.check input ~ .checkmark {
  transition: all 0.2s;
  opacity: 1;
  box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
  transition: all 0.2s;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  opacity: 1;
  transition: all 0.2s;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.card-item {
  background: #ffffff;
  border-radius: 22px;
  border: 5px solid var(--span);
  position: relative;
  box-shadow: 2px 2px 0px rgb(183, 183, 183);
}
.card-item h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}
.trolly .label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}

.trolly .form-select{
    height: 60px;
    border: 1px solid #8C8C8C;
}
.trolly .form-select option {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 36px;
  color: #8c8c8c;
}
.trolly .form-select:focus {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--hijauMuda);
  background: transparent;
}
.card-item .gr {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  background: var(--span);
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
}
.card-harga,
.card-ongkir {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #8c8c8c;
}
.card-total {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.card-item button:hover {
  background-color: #028c0a;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1);
}
.card-item button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  background: #2ca367;
  width: 90%;
  margin: 0px 25px;
}

/* Responsive  */

@media (max-width: 576px) {
    .img-visa {
      transform: translate(520%, -125%) !important;
    }
    .trolly h1 {
      font-size: 5px;
    }

    .trolly .table thead {
      font-size: 15px;
    }
    .trolly .table tbody {
      font-size: 12px;
    }
    .trolly .table img {
      width: 50px;
      height: 50px;
    }
    .checkmark {
      top: -10px;
    }
    .footer .footer-links ul li {
      justify-content: center;
    }
  }







