@media (min-width: 767px) {
  nav form {
    width: 100%;
  }
  .navbar-brand {
    display: none;
  }
  

}

/*--------------------------------------------------------------
/* kategori-Layanan
--------------------------------------------------------------*/
.kategori-layanan .card .card-body {
  display: none;
}

@media (max-width: 640px) {
  /* -----------------------------------------
Header Start 
------------------------------------------- */
  nav form {
    width: 100% !important;
  }
  nav form .btn img {
    width: 15px;
  }
  .account .btn-daftar {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  /*--------------------------------------------------------------
/* kategori-Layanan
--------------------------------------------------------------*/
  .kategori-layanan .card {
    width: 70px;
    height: 40px;
    overflow: hidden;
    align-items: center;
    margin-top: 8px;
    justify-content: center;
    display: flex;
  }
  .kategori-layanan .card .card-body {
    display: none;
  }
  /*--------------------------------------------------------------
/* kategori-pencarian & kategori-Product-3
--------------------------------------------------------------*/

  .footer .footer-links ul li {
    justify-content: center;
  }
  .footer .footer-links .social-links {
    justify-content: center;
  }

  .hero .icon-boxes {
    padding-bottom: 60px;
  }


  .trolly .table img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 1200px) {
  .kategori-layanan .card .card-body {
    display: block;
  }
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
    padding: 40px;
  }
}
