@media (min-width: 767px) {
  nav form {
    width: 100%;
  }
  .navbar-brand {
    display: none;
  }
  
.trolly h1 {
  font-size: 20px;
}

.trolly .table thead {
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}

.trolly .table tbody th {
  border: none;
}
.trolly .table tbody input {
  transform: translateY(150%);
  height: 24px;
  width: 24px;
  border-radius: 4px;
}
.trolly .table tbody {
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
}
.trolly .table tbody .indikator {
  background: #d9d9d9;
  border-radius: 13.5px;
}
.trolly .table tbody .indikator button {
  background: #d9d9d9;
  border-radius: 13.5px;
  border: none;
}
.trolly .table img {
  width: 20px;
  height: 20px;
} 
  

}

/*--------------------------------------------------------------
/* kategori-Layanan
--------------------------------------------------------------*/
.kategori-layanan .card .card-body {
  display: none;
}

@media (max-width: 640px) {
  /* -----------------------------------------
Header Start 
------------------------------------------- */
  nav form {
    width: 100% !important;
  }
  nav form .btn img {
    width: 15px;
  }
  .account .btn-daftar {
    display: none;
  }
  .navbar-brand {
    display: none;
  }
  /*--------------------------------------------------------------
/* kategori-Layanan
--------------------------------------------------------------*/
  .kategori-layanan .card {
    width: 70px;
    height: 40px;
    overflow: hidden;
    align-items: center;
    margin-top: 8px;
    justify-content: center;
    display: flex;
  }
  .kategori-layanan .card .card-body {
    display: none;
  }
  /*--------------------------------------------------------------
/* kategori-pencarian & kategori-Product-3
--------------------------------------------------------------*/

  .footer .footer-links ul li {
    justify-content: center;
  }
  .footer .footer-links .social-links {
    justify-content: center;
  }

  .hero .icon-boxes {
    padding-bottom: 60px;
  }


  .trolly .table img {
    width: 20px;
    height: 20px;
  }
  .img-visa {
    transform: translateX(-50%);
  }
  .message-menu,.notif-menu,.trolly-menu {
    transform: translateY(59px);

  }
  .img-visa {
    transform: translate(520%, -125%) !important;
  }
  .trolly h1 {
    font-size: 5px;
  }

  .trolly .table thead {
    font-size: 15px;
  }
  .trolly .table tbody {
    font-size: 12px;
  }
  .trolly .table img {
    width: 50px;
    height: 50px;
  }
  .checkmark {
    top: -10px;
  }
  .footer .footer-links ul li {
    justify-content: center;
  }
  .card-filter,
  .kategori .card-item1,
  .etalase .card-item2 {
    text-align: center;
  }
  .etalase .card-item2 {
    transform: translateY(0px);
  }

}
@media (min-width: 1200px) {
  .kategori-layanan .card .card-body {
    display: block;
  }
}

@media (min-width: 1365px) {
  .hero {
    background-attachment: fixed;
    padding: 110px 20px 50px 20px;
  }
}
@media (max-width: 576px) {
  .footer .footer-links ul li {
    justify-content: center;
  }

 
  .card-hilang {
    display: none;
  }
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-brand {
      font-size: 20px;
    }
  }
  
}
